*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    background-color: aliceblue;
}


header{
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;

}
header h1{
    font-size: 1.2rem;
    margin-bottom: 10px;
}
header p{
    font-size: 1.2rem;
}
main{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}
