*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    background-color: aliceblue;
}


header{
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;

}
header h1{
    font-size: 1.2rem;
    margin-bottom: 10px;
}
header p{
    font-size: 1.2rem;
}
main{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}
.gallery {
    margin-bottom: 40px;

}

.gallery h2{
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    color: #444;


}
.gallery-row{
display: grid;
grid-template-columns: repeat(3,1fr); 
gap: 15px;

}

.gallery-item{
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

main .gallery img{
    width: 90%;
    max-width: 1200px;
    height: 100%;
    object-fit: cover;
    display: grid;
}
